dist-newstyle/
dist/
.ghc.environment.*
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.hp
*.eventlog
cabal.project.local
cabal.project.local~
.HTF/
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
.idea/
.vscode/
*.swp
.DS_Store
